@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.docs-main {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.add-docs {
  height: 40px;
  width: 200px;
  background-color: #ffc108;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.add-input {
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.button-container {
  text-align: center;
  margin: 30px;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: black;
  gap: 20px;
  justify-content: center;
}

.grid-child {
  padding: 10px;
  margin: 10px;
  background-color: rgb(235, 235, 235);
  width: 300px;
  height: 300px;
  cursor: pointer;
  border: 1px solid black;
}

.editDocs-main {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editDocs-inner {
  width: 800px;
  box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 0px, -2px, 5px, 2px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 0px, -2px, 5px, 2px rgba(181, 181, 181, 0.75);
  padding: 20px;
  height: 750px;
}

.ql-container.ql-snow {
  border: none !important;
}

.docs-logo {
  height: 40px;
  width: 25px;
}

.document-title-image {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.upper-toolbar {
  display: flex;
  flex-direction: row;
}

.upper-toolbar>p {
  padding: 5px;
  margin-top: -25px;
  cursor: pointer;
}

.document-title-inner {
  margin-top: -20px;
  margin-left: 5px;
}

.share-bar {
  position: absolute;
  padding: 5px;
  right: 0px;
}

.share-bar>img {
  width: 60px;
}

.share-bar>* {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.Google-docs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.Google-docs>img {
  width: 80px;
}

.sidebar-div>img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar-div>p {
  cursor: pointer;
  font-weight: bold;
}

.sidebar-div {
  display: flex;
  padding: 2px;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
}

.navbar-container {
  display: flex;
  padding: 15px;
  gap: 10px;
}

.navbar-container>* {
  cursor: pointer;
}

.navbar-container>input {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  background-color: #F1F3F4;
  /* border-radius: 5px; */
}

.navbar-div {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 5px;
}

.start-new-doc {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
  background-color: #F1F3F4;
}

.start-new-doc>div>img {
  width: 130px;
  padding: 20px;
  cursor: pointer;
}

.light-font {
  font-weight: lighter;
  font-family: 'Roboto', Arial, sans-serif;
}